<div id="id01" class="container">
    <div class="main">
        <h2>Edit your Profile </h2>
    <form class="form" action="#" name="formreg" id="formlog">
     
      <div class="container">
        <div class="mb-3">
        <label for="name"><b>Your Name</b></label>
        <input type="text" [(ngModel)]="username" class="form-control" name="name" id="name" [value]="username" required>
        </div>
        <div class="mb-3">
        <label for="pernom"><b>Your lastname</b></label>
        <input type="text" [(ngModel)]="lastname" class="form-control" name="pernom" id="prenom" required>
        </div>
        <div class="mb-3">
          <label for="email"><b>Your Email</b></label>
          <input type="email" [(ngModel)]="email" class="form-control" name="email" id="email" required>
          </div>
        <div class="mb-3">
        <label for="age"><b>Your Age </b></label>
        <input type="number" [(ngModel)]="age" class="form-control" name="age" id="age" required>
        </div>
        <div class="mb-3">
        <label for="psw"><b>Your Password</b></label>
        <input type="password" [(ngModel)]="pwd" class="form-control" name="pwd" id="pwd" required>
        </div>
        <div class="mb-3">         
        <input type="button" name="valider" (click)="editUser()" class="btn btn-success btn-lg btn-block" value="Update">
        </div>
    
      </div>
    </form>
    </div>
  </div>
