<div class="container ">
    <h2>Home Page  </h2>
    <table class="table table-bordred table-hover table-striped">
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let element of users; let i = index">
            <td >{{element.name}}</td>
            <td >{{element.lastname}}</td>
            <td >{{element.age}}</td>
            <td >{{element.Mail}}</td>
            <td>
                <a class="btn btn-outline-info" [routerLink]="['/edit', i ]">Edit</a>
                <a class="btn btn-outline-danger" (click)="deleteUser(i)">Delete </a>
            </td>
            
        </tr>
    </table>
      
</div>