<nav class="navbar navbar-expand-lg navigation navbar-dark mb-3 fixed-top position-relative text-center">
    <a class="navbar-brand" href="http://localhost:4200/accueil">Angular APP Logo</a>
    <button class="navbar-toggler" aria-expanded="false" aria-controls="collapsibleNavbar" aria-label="Toggle navigation"
     type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/accueil">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Réalisation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item">
            <a class="nav-link btn login btn-md btn-block" href="http://localhost:4200/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn register btn-md btn-block" href="http://localhost:4200/register">Register</a>
        </li>
    </ul>

</div>

  </nav>