<div class="container">
    <div style="text-align:center">
      <h2>ADD TO-DO Page</h2>
    </div>
    <div class="row">
      <div class="column">
        <form class="form-control" [formGroup]="addTodoForm">
          <label for="fname">
            <b>Name</b>
          </label>
          <input type="text" formControlName="name" class="form-control" id="name">
          <div *ngIf="addTodoForm.controls.name.invalid && addTodoForm.controls.name.touched" class="col-sm-3 text-danger">
              Name is invalid (min 8 chars)    
          </div>

          <label for="description">
            <b>Déscription</b>
          </label>
          <input type="text" formControlName="description" class="form-control" id="description">
          <div *ngIf="addTodoForm.controls.description.invalid && addTodoForm.controls.description.touched" class="col-sm-3 text-danger">
            Description is invalid or Empty (min 8 chars)        
          </div>
          
          <button type="submit" [disabled]="!addTodoForm.valid" class="btn btn-info btn-lg btn-block addbutton" (click)="save()">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
